*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

:root {
    --bg-color: #efebd8;
    --second-bg-color: #581391;
    --text-color: rgb(118, 115, 115);
    --main-color: rgb(54, 17, 108);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background: rgba(117, 71, 197, 0.657);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    color: var(--main-color);
}

.navbar a {
    font-size: 2.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

.navbar .active {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3 {
    font-size: 4rem;
    margin: 1rem 0;
}

.home-content p{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.0;
    margin-bottom: 5%;
}

.home-img img{
    margin-top: 7rem;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.footer{
    background-color: var(--second-bg-color);
    padding: 2rem 9%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    width:auto;
    margin:auto;
}
.fsoc a{
    border: .2rem solid var(--main-color);
    background: transparent;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display:inline-flex;
    margin: 1rem 1em 1rem 0;
    color: var(--main-color);
    font-size: 2rem;
    transition: .5s ease;
    border-radius: 50%;
}

.footer .fsoc{
    align-items: center;
    display: flex;
    justify-content: center;
}

.fsoc a:hover{
    box-shadow: 0 0  1rem var(--main-color);
    color: var(--second-bg-color);
    background: var(--main-color);
    transform: scale(1.3);
}
.footer h1{
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
    color:#e3f3eb;
}

.footer p{
    font-size: 1.8rem;
    text-align: center;
    color:#e3f3eb;
}


*{
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}


